{% extends 'crm/base.html' %}


    {% block content %}
        {% if not AllTasks %}
            <p>No tasks to display.</p>
        {% else %}
            {% for task in AllTasks %}
        <br>
        <div class="card">
        <div class="card-header">
        Tasks <small>{{task.created}}</small>
        </div>
            <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p class="card-text">{{task.description}}</p>
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            <a href="{% url 'update-task' task.id %}" class="btn btn-secondary">Update task</a>
            &nbsp;
            <a href="{% url 'delete-task' task.id %}" class="btn btn-primary">Delete task</a>
        </div>
        </div>
  
         {% endfor %}
        {% endif %}

        <hr>

         
    
    {% endblock %}


