{% extends 'crm/base.html' %}


    {% block content %}
        
        <h3>All Tasks </h3>
        <hr>
    

        {% for task in AllTasks %}
            <br>
        <ul>
            {% comment %} <li>{{task.id}}</li> {% endcomment %}
            <li>{{task.title}}</li>
            <li>{{task.description}}</li>
        </ul>
       
         {% endfor %}

        <hr>

            <h3> Most recent task! </h3>
            <ul>
            <li>{{RecentTasks.created}}</li>
            <li>{{RecentTasks.title}}</li>
            </ul>


       


        
    {% endblock %}


