{% extends 'crm/base.html' %}


    {% block content %}
        
        <h3>All Tasks </h3>
        <hr>
    

        {% for task in AllTasks %}
            <br>
            <ul>
                <li>{{task.id}}</li>
                <li>{{task.title}}</li>
                <li>{{task.description}}</li>
            </ul>
            <a href="{% url 'update-task' task.id %} style="margin-right:10px;">Update task</a>
            &nbsp;
            <a href="{% url 'delete-task' task.id %}">Delete task</a>
            <br>
         {% endfor %}

        <hr>

         
    
    {% endblock %}


